/* ==========================================================================
   1. ROOT VARIABLES & FONTS
   ========================================================================== */
:root {
    --arsenic: #141516;
    --white: #F5F5F0;
    --gray: rgb(116, 116, 116);
    --olive-accent: #768559;
    --header-clip: 0%;
}

@font-face {
    font-family: bebas;
    src: url('/assets/fonts/BebasNeue-Regular.woff2') format('woff2');
    font-display: swap;
    size-adjust: 100%;
    ascent-override: 90%;
    descent-override: 30%;
    line-gap-override: 0%;
}

@font-face {
    font-family: bebas-fallback;
    src: local('Arial Narrow'), local('Arial');
    size-adjust: 81.35%;
    ascent-override: 90%;
    descent-override: 30%;
    line-gap-override: 0%;
}

@font-face {
    font-family: interTight;
    src: url('/assets/fonts/InterTight-VariableFont_wght.woff2') format('woff2');
    font-display: swap;
    size-adjust: 100%;
    ascent-override: 96.875%;
    descent-override: 24.121%;
    line-gap-override: 0%;
}

@font-face {
    font-family: interTight-fallback;
    src: local('Arial');
    size-adjust: 95.28%;
    ascent-override: 96.875%;
    descent-override: 24.121%;
    line-gap-override: 0%;
}

/* ==========================================================================
   2. RESET & BASE
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--arseni);
    color: var(--white);
    font-family: interTight, interTight-fallback, sans-serif;
    position: relative;
}

.main {
    width: 100%;
    color: var(--arsenic);
    background-color: var(--white);
    position: relative;
}
