.skillHeader {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 3em 0;

    &>h1 {
        font-size: clamp(2.5rem, 12vw, 6rem);
        text-align: center;
        font-weight: 500;
        line-height: 1;
        font-family: bebas, bebas-fallback, sans-serif;
    }
}



